.home {
    position: relative;
    top: 200px;
    left: calc(50% - 60px);

    .datePicker {
        width: 120px;
    }

    @media (max-width: $tablet) {
        .datePicker {
            width: 100px;
        }
    }

    @media (max-width: $phone) {
        .datePicker {
            width: 80px;
        }
    }
}