* {
	box-sizing: border-box;
	outline: none;
	touch-action: manipulation;
}

body {
	margin: 0;
	padding: 0;
	outline: none;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

ul,
li {
	outline: none;
	list-style: none;
}

button {
	border: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
}
