body {
	margin: 0;
	padding: 0;
	outline: none;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

ul,
li {
	outline: none;
	list-style: none;
}

button {
	border: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
}

$border-color: #ccc;
$date-picker-active: #0096cc;
$text-color: #222;
$text-color-red: #db3d44;
$text-color-inActive: #eee;

$phone: 768px;
$tablet: 1024px;
