.day {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 2px;
    font-size: 13px;
    cursor: pointer;

    &.active {
        color: #fff;
        background-color: $text-color-red;
        border-radius: 50%;
    }

    &.inActive {
        color: $text-color-inActive;
    }

    &.today {
        color: $text-color-red;
    }

    &.normal {
        color: $text-color;
    }

    &.bold {
        color: $text-color;
        font-weight: bold;
    }
}